<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Database=FOURSDB;Data Source=us-cdbr-azure-central-a.cloudapp.net;User Id=be20fb3406715c;Password=4239cc72" name="FOURSDB" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>