<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=us-cdbr-azure-central-a.cloudapp.net;uid=be20fb3406715c;pwd=4239cc72;Database=FOURSDB" name="FOURSDB" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>