<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="Server=us-cdbr-azure-central-a.cloudapp.net;Database=FOURSDB;Pwd=4239cc72;Uid=be20fb3406715c" name="FOURSDB" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
